body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1340px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:42px;
  background:inherit;
  background-color:rgba(1, 111, 160, 0.6588235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Franklin Gothic Demi", "Franklin Gothic Medium", "Franklin Gothic", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:1340px;
  height:42px;
  display:flex;
  font-family:"Franklin Gothic Demi", "Franklin Gothic Medium", "Franklin Gothic", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:29px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:135px;
  width:587px;
  height:29px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:10px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:10px;
  display:flex;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:62px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:10px;
  width:115px;
  height:62px;
  display:flex;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:29px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:194px;
  width:186px;
  height:29px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:29px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.611764705882353);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:282px;
  width:186px;
  height:29px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
  background:inherit;
  background-color:rgba(3, 191, 22, 0.7176470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:194px;
  width:102px;
  height:29px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:29px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:361px;
  width:186px;
  height:29px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
  background:inherit;
  background-color:rgba(30, 152, 215, 0.7176470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:361px;
  width:102px;
  height:29px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:29px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:413px;
  width:186px;
  height:29px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
  background:inherit;
  background-color:rgba(30, 152, 215, 0.7176470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:413px;
  width:102px;
  height:29px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:29px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:488px;
  width:186px;
  height:29px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
  background:inherit;
  background-color:rgba(30, 152, 215, 0.7176470588235294);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:488px;
  width:102px;
  height:29px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u89_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:194px;
  width:262px;
  height:29px;
  display:flex;
  color:#797979;
}
#u89 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u89.disabled {
}
.u89_input_option {
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u90_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:282px;
  width:262px;
  height:29px;
  display:flex;
  color:#797979;
}
#u90 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u90.disabled {
}
.u90_input_option {
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:29px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:238px;
  width:186px;
  height:29px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u92_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:238px;
  width:262px;
  height:29px;
  display:flex;
  color:#797979;
}
#u92 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u92.disabled {
}
.u92_input_option {
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:15px;
  background:inherit;
  background-color:rgba(1, 111, 160, 0.22745098039215686);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:634px;
  width:1334px;
  height:15px;
  display:flex;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#555555;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:556px;
  width:69px;
  height:11px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#555555;
}
#u94 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u95_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u95_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u95_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#797979;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:570px;
  width:218px;
  height:16px;
  display:flex;
  font-size:10px;
  color:#797979;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#797979;
}
#u95.hint {
}
#u95_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#797979;
}
#u95.disabled {
}
#u95_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#797979;
}
#u95.hint.disabled {
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#555555;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:556px;
  width:44px;
  height:11px;
  display:flex;
  font-family:"Arial Negrito", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#555555;
}
#u96 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u97_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u97_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u97_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#797979;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:570px;
  width:171px;
  height:16px;
  display:flex;
  font-size:10px;
  color:#797979;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#797979;
}
#u97.hint {
}
#u97_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#797979;
}
#u97.disabled {
}
#u97_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#797979;
}
#u97.hint.disabled {
}
